.contacts {
  display: flex;
  gap: 40px;
}

.contacts__link {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;

  color: var(--accent-color);

  height: 80px;

  text-decoration: none;

  transition: 0.3s;
}

.contacts__link-footer {
  display: flex;

  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;

  line-height: 16px;
  letter-spacing: 0.42px;
  text-decoration: none;

  transition: 0.3s;
}

.contacts__link:focus,
.contacts__link-footer:focus,
.contacts__link:hover,
.contacts__link-footer:hover {
  color: var(--main-color);
}
