.contacts__icon {
  margin-right: 10px;

  transition: 0.3s inherit;
  fill: var(--accent-color);
}

.icon__contacts-envelope {
  width: 16px;
  height: 12px;
}

.icon__contacts-smartphone {
  width: 10px;
  height: 16px;
}
