.nav {
  display: flex;
  gap: 93px;
}

.nav__item {
  display: flex;

  list-style: none;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;

  letter-spacing: 0.28px;
  text-decoration: none;

  height: 80px;

  color: var(--secondary-color);

  transition: 0.3s;
}

.nav__link:focus,
.nav__link:hover {
  color: var(--main-color);
}
